main {
    list-style: none;
    margin: 0;
    padding: 0;
}

main > div {
    display: flex;
    flex-wrap: wrap;
}

.test {
    background-color: var(--background-color);
    margin: 16px;
}

.test > div {
    display: flex;
    align-items: center;
    margin-right: 400px; /* Add margin-bottom property */
}

.test > div > * {
    margin-right: 16px;
}

.test > div > *:last-child {
    margin-right: 0;
}

.test > * {
    flex: 1;
}

.test > *:last-child {
    margin-right: 0;
}

main > div img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.test > div > div > strong > u {
    font-size: 20px; /* Set font size */
    color: #783384; /* Set font color */
}

.test > div > picture > img {
    width: 400px; /* Set image width */
    height: auto; /* Maintain aspect ratio */
}
