* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    height: 100vh;
    display: grid;
    place-items: center;
  }
  
  .slider {
    width: 100%;
    max-width: 960px;
    height: 450px;
    position: relative;
    overflow: hidden; 
    border-radius: 15px;
    margin: auto;
  }
  
  div.slide {
    position: relative; /* Position the container relative so that text can be positioned relative to it */
    width: 100%;
    max-width: 960px;
    height: 350px;
    transition: all 0.5s;
}

img {
    width: 100%; /* Ensure the image takes up the full width of its container */
    height: auto; /* Maintain the aspect ratio */
    display: block; /* Ensure proper block display */
    position: relative; /* Position the image relatively within its container */
    z-index: 1; /* Ensure the image appears below the text */
}

div.slide-text {
    position: absolute; /* Position the text absolutely within its container */
    width: 50%; /* Adjust this width as needed */
    top: 60%; /* Adjust the vertical position */
    left: 0; /* Align the text to the left */
    color: #000000;
    text-align: left;
    padding: 20px; 
    box-sizing: border-box; 
    z-index: 2; 
}

  
  .btn {
    position: absolute;
    width: 40px;
    height: 40px;
    padding: 10px;
    border: none;
    border-radius: 50%;
    z-index: 10;
    cursor: pointer;
    background-color: #fff;
    font-size: 18px;
    color: black;
  }
  
  .btn:active {
    transform: scale(1.1); 
  }
  
  .btn-prev {
    top: 45%;
    left: 2%;
  }
  
  .btn-next {
    top: 45%;
    right: 2%;
  }
  